{% extends "layout.html" %}
{% load static %}
{% block layout %}
<section class="w-full flex">

    {% with request.resolver_match.url_name as url_name %}
    <nav class="w-1/4 border-0 border-r-1 border-indigo-500 h-screen flex flex-col items-center justify-star">
        <a class="w-full text-xl font-bold py-2 hover:opacity-[80%] {% if url_name == 'cuenta' %}bg-blue-600 text-white {% else %} text-blue-600 {% endif %} text-center"
            href="{% url 'cuenta' %}">Mi cuenta</a>
        <a class="w-full text-xl font-bold py-2 hover:opacity-[80%] {% if url_name == 'Publicaciones' %}bg-blue-600 text-white {% else %} text-blue-600 {% endif %} text-center"
            href="{% url 'mis_publicaciones' %}">Mis publicaciones</a>
    </nav>
    {% endwith %}
    <div class="w-3/4 pl-10 flex items-start justify-center">
        <form method="post" enctype="multipart/form-data" class="w-1/2 flex flex-col gap-5">
            {% csrf_token %}
            <div>
                <label class="text-xl">Imagen de perfil:</label>
                <input type="file" name="profile_picture" class="py-2 px-1 w-full rounded border w-1/2">
            </div>
            <div>
                <label class="text-xl">Tu correo electrónico:</label>
                <input type="email" name="email" class="py-2 px-1 w-full rounded border w-1/2" placeholder="Correo"
                    value="{{form.email.value|default:''}}">
                {% if form.email.errors %}
                <p class="text-red-500">{{ form.email.errors.0 }}</p>
                {% endif %}
            </div>

            <div>
                <label class="text-xl">Tu usuario:</label>
                <input type="text" name="username" class="py-2 px-1 w-full rounded border" placeholder="Crea tu usuario"
                    value="{{form.username.value|default:''}}">
                {% if form.username.errors %}
                <p class="text-red-500">{{ form.username.errors.0 }}</p>
                {% endif %}
            </div>

            <div>
                <label class="text-xl">Contraseña anterior:</label>
                <input type="password" name="password_old" class="py-2 px-1 w-full rounded border"
                    placeholder="Contraseña anterior">
            </div>

            <div>
                <label class="text-xl">Nueva contraseña:</label>
                <input type="password" name="password" class="py-2 px-1 w-full rounded border"
                    placeholder="Nueva contraseña">
            </div>

            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="text-red-500" {% endif %}>{{ message }}</li>
                    {% endfor %}
            </ul>
            {% endif %}

            <button type="submit" class="py-2 font-bold bg-blue-600 hover:opacity-[80%] text-white">Actualizar</button>
        </form>
    </div>

</section>
{% endblock %}