<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AppKinda - Autenticación</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="font-[sans-serif] relative h-screen">
    <main class="h-[90%] bg-gradient-to-r from-purple-600 to-blue-600 flex items-center justify-center">
        {% block modal %}
    
        {% endblock %}
    </main>
    <footer class="w-full h-[10%] bg-black flex items-center justify-start text-white p-5">
        <h1 class="text-gray-400 text-sm ">Desarrollado por Ivan Garcilazo</h1>
    </footer>
</body>

</html>