{% extends "layout.html" %}
{% load static %}
{% block layout %}
<section class="top-0 h-[90vh] bg-black w-full px-32 py-20 text-white">
    <h2 class="text-2xl font-bold">Acerca de mi:</h2>
    <p class="text-lg">
        Hola, soy Iván Garcilazo, desarrollador full-stack. Hace más de 2 años que desarrollo, y mi stack principal es <strong>PHP</strong>, <strong>Laravel</strong>, <strong>React</strong>, <strong>Vue</strong>, y entre otros lenguajes que suelo utilizar el día a día. 
        <br>
        Me apasiona el desarrollo de aplicaciones web, asi como de interfaces como de APIs, o desarrollo de backend, por lo tanto, quería conocer un poco más acerca de Python y como era su desarrollo.
    </p>
    <h2 class="text-2xl font-bold mt-20">El proyecto:</h2>
    <p class="text-lg">
        Para este proyecto, quise hacer un desarrollo simple simulando un sitio de compra y venta de autos usados, donde se podían hacer posteos de comentarios, contactar con el vendedor, entre otros detalles. <br>
        El proyecto fue desarrollado con Django, utilizando el framework de Python, y para estilos, TailwindCSS
    </p>
</section>
{% endblock %}